.content-wrapper {
    flex: 1;
    min-height: calc(100vh - 8px); 
  }
  .email{
    text-decoration: none;
    color: white;
  }
  .email:hover{
    color: grey;
  }
  
  .footer {
    flex-shrink: 0;
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .contact-info p {
    margin: 5px 0;
    color: white;
  }
  
  .footer-right img {
    width: 100px;
    height: auto;
    color: white;
  }
