@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#home-content {
  width: 100%;
  text-align: center;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
}
#home-content div {
  position: relative;
}
#home-content h2 {
  position: absolute;
  font-size: 5.5rem;
  width: 75%;
  margin: 0.8rem;
  left: 2rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  opacity: 0;
  transition: all 1000ms ease;
}
#home-content .fade {
  opacity: 1 !important;
}
#home-content button {
  padding: 5px;
  font-size: 16px;
  background-color: white;
  width: 14%;
  text-transform: uppercase;
  border-radius: 50px;
  color: rgb(20, 20, 20);
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(100%);
  position: relative;
  text-align: center;
  margin: auto;
  display: flex;
  display: grid;
  top: 8rem;
  right: 5rem;
  font-family: 'Poppins';
}

#home-content button:hover {
  background-color: #babfbf;
  color: #000000;
}