

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#home-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40%;
  top: 40%;
  width: 100%;
}

.title{
  color: #f8f8f8;
  font-size: 80px;
   
}

.title-span{
  color: #d1a09b;
  text-shadow: 1px 1px   black;
}
